.container {
  text-align:center;
  width:100%;
  height:auto;
  padding-top:130px;
  margin:0 auto;
}

.logo {
  margin-top:196px;
  border:1px solid red; background:url(/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png);
}

a{
  text-decoration:none;
}
p{
  font-family:arial;
  font-size:9pt;
}

.google-logo {
  width: 300px;
}

.buttons {
  margin-top:30px;
  margin-bottom:60px;
}
button {
  background-color:#f8f9fa;
  border:none;
  color:#757575;
  font-family: arial,sans-serif;
  font-size: 14px;
  border-radius: 4px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

a:hover {
  text-decoration:underline;
}
button:hover {
  color:black;
  border:1px solid #D9D9D9;
}

.halfsize {
  zoom: 0.5
}

p {
  font-size: medium;
  font-weight: normal;
  border: 0;
  margin-top:-30px;
  margin-bottom:30px;
}